<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Description</th>
        <th>Is Active?</th>
        <th>Actions</th>
      </tr>
      <% @subtasks.each do |subtasks| %>
          <tr>
            <td><%= subtasks.description %></td>
            <td><%= check_box_tag 'active', subtasks.active, subtasks.active, disabled: true %></td>
            <td>
              <%= link_to 'Destroy', subtasks, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>