<div class='login-container-header'>

</div>
<div class='login-container'>
  <div class='container'>
    <div class='row'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='text-center'>
          </div>
        </div>
      </div>
      <div class='col-sm-4 col-sm-offset-4'>
        <h1 class='text-center title'>Password Recovery</h1>

        <form action="/forgot_password" class="validate-form" method="POST">
          <% if (flash[:error]) %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
          <% end %>
          <div class='form-group'>
            <div class='controls with-icon-over-input'>
              <input value="" placeholder="E-mail" class="form-control" data-rule-required="true" name="email" required="" type="email"/>
              <i class='icon-user text-muted'></i>
            </div>
          </div>
          <button class='btn btn-block' type="submit">Send email</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class='login-container-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
        </div>
      </div>
    </div>
  </div>
</div>