<div class="row">
  <div class="table-responsive col-md-12">
    <div class="scrollable-area">
      <table class="data-table-column-filter-statement table table-bordered table-striped table-hover dataTable" style="margin-bottom:0;" id="DataTables_Table_report" aria-describedby="DataTables_Table_report_info" data-report="<%= type_report %>">
        <thead>
        <tr role="row">
          <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Name
          </th>
          <th role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Stages
          </th>
          <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Date
          </th>
          <th class="sorting" role="columnheader" tabindex="0" colspan="1">
            Total earnings
          </th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th rowspan="1" role="columnheader" tabindex="0" colspan="3" style="text-align:right">Total:</th>
          <th></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
