<form class="form-inline">
  <!--notes-->
  <div class="form-group col-md-7">
    <%= label :flat_rate, :notes, class: "labels" %><br>
    <%= text_field :flat_rate, :notes, disabled: true, class: 'form-control', style: 'width:100%' %>
  </div>
  <!--move_cost-->
  <div class="form-group col-md-3">
    <%= label :flat_rate, :move_cost, class: "labels" %><br>
    <%= text_field :flat_rate, :move_cost, disabled: true, class: 'form-control', style: 'width:100%' %>
  </div>
</form>