<div id="email_section" class="mtop10">
    <div class="input-group">
      <span class="input-group-addon"><a href="javascript:void(0)" onclick="$('#r_name').html($(this).parent().parent().find('#name').val()); $('#previewModal').modal('show');" class="grey bold">Show Email</a></span>
      <div class="form-control" style="display: inline-flex">
        <input id="name" type="text" name="name[]" class="form-control name mright10" placeholder="Enter name" required>
        <input type="email" name="email[]" class="form-control email" placeholder="Enter email" required>
      </div>
    </div>
</div>



