<% @page_title = raw("<i class='fa fa-shield blank3 blue-text'></i>") + "Roles" %>

<div class="col-md-12">
  <div class="row body_top_margin">
    <div class="col-md-12">

      <legend>New Role</legend>

      <%= render 'form', redirect_url: nil, calendar_staff_group_id: nil, f_remote: false %>

    </div>
  </div>
</div>

<br class="clearfix"><br>

<script>
    var topBar = document.getElementById("top-bar");

    topBar.innerHTML = '<div class="msg"><div class="top-bar-left-margin2"><div class="row '
        + '"><div class="text-left col-md-12">'
        + '<div class="pleft46 pright10">'

        + '<div class="colfl mright10">'
        + '<a href="#" class="text-dark mtop6 no_underline fc-button fc-state-default no_pointer fc-corner-left fc-corner-right">Roles</a>'
        + '</div>'

        + '<div class="colfl mright10">'
        + '<a href="<%= action_roles_path %>" class="text-dark mtop6 no_underline fc-button fc-state-default fc-state-disabled pointer fc-corner-left fc-corner-right">Assign Permissions to Roles</a>'
        + '</div>'

        + '<div class="colfl mright10">'
        + '<a href="<%= action_users_path %>" class="text-dark mtop6 no_underline fc-button fc-state-default fc-state-disabled pointer fc-corner-left fc-corner-right"><span>Assign Permissions to Users</a>'
        + '</div>'

        + '</div>'
        + '</div></div></div></div>';
</script>