<div class="row">
  <img src="http://oomovers.moveonline.com/media/images/logo_large.png" width="218"  height="53" class="float"/>

  <div class="float" id="address">
    P.O. Box 95<br/>
    Sechelt, BC.<br/>
    V0N 3A0
  </div>
  <div class="float" id="phone">
    1-800-583-9958 <span class="description">Telephone</span><br/>
    1-800-583-9958 <span class="description">Fax</span><br/>
  </div>
  <div class="float" id="email">
    admin@oomovers.com
  </div>
</div>

<div class="row">
  <div class="claimant_title float">Claimant Information</div>
  <div class="main_title float">Damage Claim Form</div>
</div>

<div class="float clear" id="claimant_info_section">
  <div class="claim_info_row">
    <div class="claim_info float">Date</div>
    <div class="claim_info float">Telephone</div>
  </div>
  <div class="claim_info_row">
    <div
    <div class="claim_info float">Name of Claimant</div>
    <div class="claim_info float">Email</div>
  </div>
  <div class="claim_info_row">
    <div class="claim_info float">Present Address</div>
    <div class="claim_info float">Moved From</div>
  </div>
  <div class="claim_info_row">
    <div class="claim_info float">City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Province
    </div>
    <div class="claim_info float">Moved To</div>
  </div>
  <div class="claim_info_row last_row">
    <div class="claim_info float">Postal Code</div>
    <div class="claim_info float">Date Moved</div>
  </div>
</div>
</div>

<div class="float" id="declaration">Declared and sworn before me this __________
  day of_________________________________
  X_____________________________________
  <br/><br/>
  NOTARY OF PUBLIC COMMISSIONER FOR
  OATHS IN AND FOR THE PROVINCE OF
  __________________________________
</div>
<br class="clear"/><br/>
<div class="article_row">
  <div class="article_width title float">Description of Article</div>
  <div class="damage_width title float">Description of Damage</div>
  <div class="claimed_width title float">Claimed Value</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="article_row last_row">
  <div class="article_width float">&nbsp;</div>
  <div class="damage_width float">&nbsp;</div>
  <div class="claimed_width float">&nbsp;</div>
</div>
<div class="row">
  <div id="read_this" class="float"><span class="float">Read<br/><span id="this">this</span></span>
    <img src="http://oomovers.moveonline.com/media/images/arrow.png" class="float"/></div>
  <div class="float" id="disclaimer">All claims are subject to a $100 deductible as per contract<br/>
    All claims will be settled per contract terms &amp; conditions<br/>
    All claims must be submitted within 30 days of move date<br/>
    Digital photographs of each item must be included with claim
  </div>

  <div class="float" id="total">
    <span class="float">Total</span>

    <div id="total_box" class="float">&nbsp;</div>
  </div>
</div>

<div class="row">
  <div id="disclosure" class="float"><span class="float" id="i">I</span> do solemnly declare that the forgoing claim and
    statements are to the best of my knowledge and belief true in every particular, and I make this solemn declaration
    conscientiously believing it to be true and knowing it of the same force and effects as if made under oath and by
    virtue of "The Canada Evidence Act"
  </div>
  <div class="float" id="signature_container">
    <div id="the_above">The Above Constitutes my Complete &amp; Entire Claim</div>
    <div id="signature">___________________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ___________________________<br/>
      DATE
      <div id="claimant">CLAIMANT</div>
    </div>
  </div>
</div>