<div class="terms_section">
  <% if move.move_record_client.first.client.user.province == "British Columbia" %>
      <h2 class="terms">Motor Vehicle Act Regulations B.C. Reg 25/58<br/>
        Specified Conditions of Carriage - Household Goods</h2>
  <% else %>
      <h2 class="terms">Alberta Traffic Safety Act - Regulation 313/2002<br/>
        Specified Conditions of Carriage - Household Goods</h2>
  <% end %>

  <div class="float half">
    <div><strong>Article 1 - Liability Of Carrier</strong><br/>
      The carrier of the goods described in this bill of lading is liable for any loss or damage to the goods accepted
      by the carrier or the carrier's agent except as provided in these articles.
    </div>

    <div><strong>Article 5 - Exceptions From Liability</strong><br/>
      The carrier is not liable for the following:
    </div>

    <div class="item">
      <div class="float">a)</div>
      <div class="item_body">Loss, damage or delay to any of the goods described in the Bill of
        Lading caused by an Act of God, the Queen's or public enemies, riots,
        strikes, a defect or inherent vice in goods, the act or default of the
        consignor, owner or consignee, authority of law or quarantine.
      </div>
    </div>
    <div class="item">
      <div class="float">b)</div>
      <div class="item_body">unless caused by the negligence of the carrier or the carriers agent or
        employee:
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">i.</div>
      <div class="item_body">damage to fragile articles that are not packed and unpacked
        by the contracting carrier or by that carrier's agent or
        employee;
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">ii.</div>
      <div class="item_body">damage to mechanical, electronic or other operations of
        radios, phonographs, clocks, appliances, musical instruments and other equipment, irrespective of who
        packed or unpacked such articles, unless servicing and
        preparation was performed by the contracting carrier or by
        that carrier's agent or employee(s);
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">iii.</div>
      <div class="item_body"> deterioration of or damage to perishable food, plants, or pets;</div>
    </div>
    <div class="item">
      <div class="double_item_number">iv.</div>
      <div class="item_body"> loss of items or the contents of consignor packed articles,
        unless the containers used are opened for the carrier's
        inspection and all items are listed on this Bill of Lading and
        receipted for by the carrier;
      </div>
    </div>
  </div>
  <div class="float half">
    <div class="item">
      <div class="float">c)</div>
      <div class="item_body">damage to or loss of complete set or unit when only part of such set is damaged or lost, in
        which event the carrier is only liable for repair or recovering of the lost or damaged piece or pieces;
      </div>
    </div>

    <div class="item">
      <div class="float">d)</div>
      <div class="item_body">damage to the goods at place or places of pick-up at which the consignor or consignor's
        agent is not in attendance;
      </div>
    </div>
    <div class="item">
      <div class="float">e)</div>
      <div class="item_body">damage to the goods at place or places of delivery at which the consignee or the
        consignee's agent is not in attendance and cannot give receipt for goods delivered.
      </div>
    </div>
    <div class="item">
      <div class="float">f)</div>
      <div class="item_body">The client shall be charged for all
        parking fees and tickets for illegal
        parking acquired during the move.
      </div>
    </div>
    <div class="item">
      <div class="float">g)</div>
      <div class="item_body">The customer agrees to notify the company in writing within (5) days of
        delivery with full particulars of any damage or loss.
      </div>
    </div>
    <div class="item">
      <div class="float">h)</div>
      <div class="item_body">All monies owed to the company must be paid in full before any claim
        will be considered.
      </div>
    </div>

    <p><strong>Article 13 - Articles Of Extraordinary Value</strong><br/>
      A carrier is not bound to carry any documents, specie or any
      articles of extraordinary value unless by a special agreement to do so.</p>

    <p><strong>Article 14 - Freight Charges</strong><br/>
      If required by the carrier, the freight and all other lawful charges
      accruing on the goods must be paid before delivery.</p>

    <p><strong>Delays:</strong> Failure by the carrier to effect pick-up or delivery within the
      expected time frame shall not result in any reduction of charges or render
      him liable for any costs or expenses incurred by the consignee.</p>
  </div>
</div>

<div class="terms_section">
  <h2 class="terms">Basic Protection &amp; Replacement Value Protection (RVP) - Conditions And Exceptions</h2>

  <div class="float half">
    <div class="item">
      <div class="float">a)</div>
      <div class="item_body">Shall be subject to all Conditions
        of Carriage as outlined within the
        Motor Vehicle Act Regulations BC Reg 25/58
      </div>
    </div>
    <div class="item">
      <div class="float">b)</div>
      <div class="item_body">All claims under RVP are subject to a $100 deductible to be paid by the client.</div>
    </div>
    <div class="item">
      <div class="float">c)</div>
      <div class="item_body">Protection plans do not cover any loss of value to an item due to damage and subsequent
        repairs.
      </div>
    </div>
    <div class="item">
      <div class="float">d)</div>
      <div class="item_body">No liability whatsoever shall be assumed if the client or
        others assist or interfere in any part of the moving procedures.
      </div>
    </div>
    <div class="item">
      <div class="float">e)</div>
      <div class="item_body">Weight estimation uses the method specified within the Alberta Traffic
        Safety Act of multiplying cubic volume in feet times an average cargo
        weight of 7 pounds per cubic foot.
        Pounds per foot of loaded truck is
        calculated at Width x Height x 7
      </div>
    </div>
    <div class="item">
      <div class="float">f)</div>
      <div class="item_body">The carrier shall not be liable for:</div>
    </div>
    <div class="item">
      <div class="double_item_number">i.</div>
      <div class="item_body">Property which at the time of loss has become obsolete or
        unusable for its originally intended purpose.
      </div>
    </div>
  </div>

  <div class="float half">
    <div class="item">
      <div class="double_item_number">ii.</div>
      <div class="item_body">Any art, antiques, documents, jewelry, coins, specie or any articles of
        extraordinary value (over 5k) unless by special agreement
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">iii.</div>
      <div class="item_body">Injury to goods resulting from previous injury and/or improper
        assembly.
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">iv.</div>
      <div class="item_body">Damage to unstable furniture or the structural failure of particleboard
        furniture.
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">v.</div>
      <div class="item_body">Ordinary wear and tear caused by
        moving procedures or deterioration
        due to temperature change or weather conditions.
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">vi.</div>
      <div class="item_body">Injury to goods or premise due to the requirements of unusual or
        unique moving procedures caused
        by access restrictions.
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">vii.</div>
      <div class="item_body">Client assembled "ikea" furniture or
        simulates, lamps or other modular
        furniture that is not disassembled and packed for transport. (Client
        must do this themselves)
      </div>
    </div>
    <div class="item">
      <div class="double_item_number">viii.</div>
      <div class="item_body">Breakage of glass, stone and mirrors not packed and unpacked in
        boxes by company employees. (Client must request this service)
      </div>
    </div>
  </div>
</div>

<div class="terms_section">
  <h2 class="terms">Packing Supplies</h2>
  <table id="packing_supplies">
    <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Total</th>
    </tr>
    </thead>
    <tr>
      <td>Wardrobe Rental</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>18" Pallet Wrap</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Bed Bag</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Tape</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>2 Cube Box</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>4 Cube Box</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Large Mirror Box</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Wardrobe Box w/bar</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Packing Paper</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <div id="totals">
    Total Packing Supplies Cost<br/>
    PST<br/>
    GST/HST
  </div>
</div>
<div class="centered footer">
  <img src="http://oomovers.moveonline.com/media/images/logo_large.png" width="218"  height="53"/></div>
