<div class="row">
  <div class="col-md-12">
    <form class="col-md-10" id="form-date-list-moves">
      <div class="form-group">
        <div class='input-group list-move-calendar-start col-md-4'>
          <label>Start Date</label>
	               	<span class="input-group-addon">
	                    <span class="fa fa-calendar">
	                    </span>
	                </span>
          <input type='text' class="form-control" name="list_move_calendar_start" autocomplete="off"/>
        </div>
        <div class='input-group list-move-calendar-end col-md-4'>
          <label>End Date</label>
	               	<span class="input-group-addon">
	                    <span class="fa fa-calendar">
	                    </span>
	                </span>
          <input type='text' class="form-control" name="list_move_calendar_end" autocomplete="off"/>
        </div>
        <button class="btn btn-link icon-search btn-submit-search-messages col-md-5" type="submit"></button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="table-responsive col-md-12">
    <div class="scrollable-area">
      <table class="data-table-column-filter-customer table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_report" aria-describedby="DataTables_Table_report_info">
        <thead>
        <tr role="row">
          <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Name
          </th>
          <th class="sorting_asc" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Date
          </th>
          <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Start Time
          </th>
          <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Movers
          </th>
          <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
            Total Cost
          </th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>